@use "settings";
@use "sass:math";
@use 'settings' as *;

/* Buttons */

.btn-primary {
  @include settings.btn(settings.$color-dark, settings.$color-light, settings.$color-dark);
}

.btn-secondary {
  @include settings.btn(settings.$color-main, settings.$color-light, settings.$color-main);
}

.btn-quantity {
  @include settings.btn(settings.$color-dark, settings.$color-light, settings.$color-dark);
  vertical-align: top;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 26px;
  font-size: 10px;

  &--lt {
    @include settings.btn(settings.$color-light, settings.$color-main, settings.$color-light);
    padding: 0;
    width: 24px;
    height: 18px;
    line-height: 16px;
    font-size: 10px;
    opacity: 0;
  }
}

/* Form elements */

input, select {
  border: 1px solid settings.$color-dark;
  border-radius: settings.$radius;
  padding: settings.$base-size;

  &.error {
    border-color: settings.$color-main;
  }
}

.checkbox {
  display: block;
  position: relative;
  padding-left: (settings.$base-size * 2);
  margin-bottom: settings.$base-size;
  user-select: none;

  label {
    cursor: pointer;
  }

  input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
    cursor: pointer;
  }

  &__checkmark {
    position: absolute;
    top: 4px;
    left: 0;
    height: 16px;
    width: 16px;
    border: 1px solid settings.$color-dark;
    border-radius: settings.$radius;

    &:after {
      content: "";
      position: absolute;
      display: none;
      width: 9px;
      height: 5px;
      border-left: 2px solid settings.$color-dark;
      border-bottom: 2px solid settings.$color-dark;
      transform: rotate(-45deg);
      top: 4px;
      left: 3px;
    }
  }

  &:hover input ~ .checkbox__checkmark {
    content: none;
  }

  input:checked ~ .checkbox__checkmark:after {
    display: block;
  }

  &.checkbox--round {
    .checkbox__checkmark {
      border-radius: 50%;
    }
  }
}

.widget-amount {
  input {
    width: 30px;
    height: 30px;
    text-align: center;
    margin: math.div(settings.$base-size, 2);
    padding: 0;
  }
}