@use "sass:color";
@use "settings";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: (settings.$base-size * 2) 0 (settings.$base-size * 8) 0;
  background: settings.$color-dark;
  color: settings.$color-light;

  &__wrapper {
    position: relative;
  }
}

.logo {
  display: inline-block;
  line-height: 1;

  &__title {
    margin: 0 0 settings.$base-size 0;
    font-size: (settings.$base-size * 4);
    font-family: settings.$font-header;
    font-weight: settings.$font-light;
    text-transform: uppercase;

    span {
      font-weight: settings.$font-bold;
    }
  }

  &__subtitle {
    margin: 0;
    font-size: (settings.$base-size * 1.5);
    font-weight: settings.$font-light;
    font-style: italic;
  }
}

.main-nav {
  position: absolute;
  @include settings.flex(row, flex-start, flex-start);
  bottom: (settings.$base-size * -8);

  a {
    @extend %h2-styles !optional;
    color: settings.$color-main;
    text-decoration: none;
    margin-right: (settings.$base-size * 2);
    text-align: center;
    padding: settings.$base-size (settings.$base-size * 2);
    background: color.adjust(settings.$color-dark, $lightness: -5%);
    border-top-left-radius: settings.$radius;
    border-top-right-radius: settings.$radius;

    &.active {
      background: color.adjust(settings.$color-dark, $lightness: 75%);
    }
  }
}