@use "sass:color";
@use "settings";

.product-list {
  padding: (settings.$base-size * 3) 0;
}

.product {
  margin: () 0;
  padding: (settings.$base-size * 6) (settings.$base-size * 4);
  background: settings.$color-light;
  border-bottom: 1px solid color.adjust(settings.$color-dark, $lightness: 70%);
  border-radius: settings.$radius;

  &__header {
    @include settings.flex(row, center, space-between);
    margin-bottom: (settings.$base-size * 2);
    cursor: pointer;
  }

  &__name {
    @extend %h1-styles !optional;
    position: relative;
  }

  &__icon {
    position: absolute;
    color: settings.$color-main;
    right: (-(settings.$base-size) * 5);
    top: settings.$base-size;
    font-size: (settings.$base-size * 1.5);
    transition: settings.$transition;
  }

  &__base-price {
    @extend %h1-styles !optional;
    font-weight: settings.$font-light;
  }

  &__description {
    color: color.adjust(settings.$color-dark, $lightness: 10%);
  }

  &__wrapper {
    @include settings.flex(row, center, space-between);
    @include settings.accordion-closed();
    animation: flipdown 0.5s ease both;
  }

  &__params {
    margin: 0 0 (settings.$base-size * 3) 0;
    padding: 0;
    list-style-type: none;
  }

  &__params-title {
    @extend %h2-styles !optional;
    margin: (settings.$base-size * 2) 0;
  }

  &__order {
    width: calc(100% - 400px);
    opacity: 0;
    transition: opacity 200ms;
  }

  &__total-price {
    font-size: 14px;
    font-weight: settings.$font-bold;
    text-transform: uppercase;
  }

  &__images {
    position: relative;
    width: 350px;
    height: 350px;
    opacity: 0;
    transition: opacity 200ms;

    &.small {
      width: 220px;
      height: 220px;
    }

    > img {
      @include settings.center();
      height: auto;
      opacity: 0;
      transition: opacity 500ms;

      &.active {
        opacity: 1;
      }
    }
  }

  &.active {
    .product__wrapper {
      @include settings.accordion-open();
    }

    .product__order,
    .product__images {
      opacity: 1;
    }

    .product__icon {
      transform: rotate(180deg);
    }
  }
}
